*{
    transition: all .5s linear;
}
body{
    color: #000000;
    text-align: center;
    background:linear-gradient(90deg, rgb(48, 94, 91)  , rgb(55, 104, 104),rgb(112, 119, 75));
}
h1{
    text-transform: capitalize;
}
.text-container{
    font-weight: bolder;
    font-size: large;
    margin-bottom: 1rem;
}
.text-container span{
    color: rgb(90, 6, 6);
    display: block;
    margin: 1rem;
}
#user-input{
    outline: none;
    border: 1px dashed black;
    padding: .5rem;
    text-align: center;
    background-color: inherit;
    border-radius: 10px;
    width: 15rem;
    color: aqua;
}
#user-input:hover {
    width: 16rem;
    border: 1px solid aqua;
}
#user-input::placeholder{
    color: black;
}
button{
    background-color: inherit;
    display: block;
    padding: .5rem 1rem;
    margin: 1rem auto;
    width: 8rem;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
}
button:hover{
    border-color: aqua;
    width: 9rem;
    color: aqua;
}
.output-area{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    border-radius: 10px;
    font-weight: bold;
    height: 3rem;
}
